
.gradle/*
.idea/*
RobotChallenge2.ipr
RobotChallenge2.iws
RobotChallenge2.iml
build/
out/
.gradle/

# Elastic Beanstalk Files
#.elasticbeanstalk/*
#!.elasticbeanstalk/*.cfg.yml
#!.elasticbeanstalk/*.global.yml
gradle/
gradlew
gradlew.bat
src/main/main.iml
src/test/test.iml
